.elementor-2232 .elementor-element.elementor-element-7f86bef7 > .elementor-container{min-height:100vh;}.elementor-2232 .elementor-element.elementor-element-7f86bef7:not(.elementor-motion-effects-element-type-background), .elementor-2232 .elementor-element.elementor-element-7f86bef7 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFFFC;}.elementor-2232 .elementor-element.elementor-element-7f86bef7{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-2232 .elementor-element.elementor-element-7f86bef7 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2232 .elementor-element.elementor-element-391b1366:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-2232 .elementor-element.elementor-element-391b1366 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2021/04/signup-image.png");background-position:center center;background-size:cover;}.elementor-2232 .elementor-element.elementor-element-391b1366 > .elementor-element-populated >  .elementor-background-overlay{background-color:transparent;background-image:linear-gradient(180deg, #6ABF17 0%, #6ABF17 100%);opacity:0.95;}.elementor-2232 .elementor-element.elementor-element-391b1366 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:50% 0% 0% 0%;}.elementor-2232 .elementor-element.elementor-element-391b1366 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .elementor-repeater-item-c7aa57c .swiper-slide-contents{margin-right:auto;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .elementor-repeater-item-c7aa57c .swiper-slide-inner{text-align:left;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .elementor-repeater-item-68fbd5d .swiper-slide-contents{margin-right:auto;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .elementor-repeater-item-68fbd5d .swiper-slide-inner{text-align:left;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .elementor-repeater-item-1192ca9 .swiper-slide-contents{margin-right:auto;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .elementor-repeater-item-1192ca9 .swiper-slide-inner{text-align:left;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .swiper-slide{height:300px;transition-duration:calc(5000ms*1.2);}.elementor-2232 .elementor-element.elementor-element-7c851b9 .swiper-slide-contents{max-width:100%;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .swiper-slide-inner{text-align:left;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .elementor-slide-heading{color:#FFFFFF;font-family:"Poppins Regular", Sans-serif;font-size:20px;font-weight:normal;line-height:30px;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .elementor-slide-description{color:#FFFFFF;font-family:"Poppins SemiBold", Sans-serif;font-size:14px;font-weight:normal;line-height:21px;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .swiper-pagination-bullet{height:6px;width:6px;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .swiper-container-horizontal .swiper-pagination-progressbar{height:6px;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .swiper-pagination-fraction{font-size:6px;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .swiper-pagination-bullet-active{background-color:#FFFFFF;}.elementor-2232 .elementor-element.elementor-element-3969f6ad > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-2232 .elementor-element.elementor-element-4649db0 > .elementor-container{max-width:750px;}.elementor-2232 .elementor-element.elementor-element-4649db0{padding:0px 15px 0px 15px;}.elementor-2232 .elementor-element.elementor-element-8539ce2 .elementor-heading-title{color:#212121;font-family:"Poppins Bold", Sans-serif;font-size:20px;font-weight:bold;line-height:30px;}.elementor-2232 .elementor-element.elementor-element-c5e1a59{text-align:right;}.elementor-2232 .elementor-element.elementor-element-c5e1a59 .elementor-heading-title{color:#787878;font-family:"Poppins Regular", Sans-serif;font-size:13px;font-weight:normal;line-height:26px;}.elementor-2232 .elementor-element.elementor-element-c5e1a59 > .elementor-widget-container{padding:20px 0px 15px 0px;}.elementor-2232 .elementor-element.elementor-element-5f972ce .elementor-button{font-family:"Poppins SemiBold", Sans-serif;font-size:14px;font-weight:normal;line-height:21px;background-color:#212121;border-radius:0px 0px 0px 0px;box-shadow:0px 12px 24px 0px rgba(0, 0, 0, 0.15);}.elementor-2232 .elementor-element.elementor-element-5f972ce > .elementor-widget-container{padding:10px 0px 10px 0px;}.elementor-2232 .elementor-element.elementor-element-7a4b159{--divider-border-style:solid;--divider-color:#E3E3E3;--divider-border-width:1px;}.elementor-2232 .elementor-element.elementor-element-7a4b159 .elementor-divider-separator{width:0%;}.elementor-2232 .elementor-element.elementor-element-7a4b159 .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-2232 .elementor-element.elementor-element-f9c0a05 .elementor-icon-wrapper{text-align:right;}.elementor-2232 .elementor-element.elementor-element-f9c0a05.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-2232 .elementor-element.elementor-element-f9c0a05.elementor-view-framed .elementor-icon, .elementor-2232 .elementor-element.elementor-element-f9c0a05.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-2232 .elementor-element.elementor-element-f9c0a05.elementor-view-framed .elementor-icon, .elementor-2232 .elementor-element.elementor-element-f9c0a05.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-2232 .elementor-element.elementor-element-f9c0a05 .elementor-icon{font-size:20px;}.elementor-2232 .elementor-element.elementor-element-f9c0a05 .elementor-icon svg{height:20px;}.elementor-2232 .elementor-element.elementor-element-892b522 > .elementor-container{max-width:750px;}.elementor-2232 .elementor-element.elementor-element-892b522{padding:15px 15px 0px 15px;}.elementor-2232 .elementor-element.elementor-element-f1b29ff{--spacer-size:35px;}#elementor-popup-modal-2232 .dialog-message{width:100vw;height:100vh;align-items:center;}#elementor-popup-modal-2232{justify-content:center;align-items:center;pointer-events:all;background-color:transparent;background-image:linear-gradient(180deg, rgba(0,0,0,.8) 15%, rgba(0,63,255,0.82) 100%);}#elementor-popup-modal-2232 .dialog-close-button{display:flex;font-size:20px;}#elementor-popup-modal-2232 .dialog-widget-content{animation-duration:1.2s;background-position:602px 0px;background-repeat:no-repeat;background-size:cover;box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}#elementor-popup-modal-2232 .dialog-close-button i{color:#ffffff;}#elementor-popup-modal-2232 .dialog-close-button svg{fill:#ffffff;}@media(min-width:768px){.elementor-2232 .elementor-element.elementor-element-391b1366{width:35%;}.elementor-2232 .elementor-element.elementor-element-3969f6ad{width:65%;}.elementor-2232 .elementor-element.elementor-element-f9ed385{width:20%;}.elementor-2232 .elementor-element.elementor-element-d3c4b12{width:53%;}.elementor-2232 .elementor-element.elementor-element-04dd697{width:26.333%;}.elementor-2232 .elementor-element.elementor-element-1d9736b0{width:100%;}}@media(max-width:1024px) and (min-width:768px){.elementor-2232 .elementor-element.elementor-element-391b1366{width:30%;}.elementor-2232 .elementor-element.elementor-element-3969f6ad{width:70%;}.elementor-2232 .elementor-element.elementor-element-f9ed385{width:25%;}.elementor-2232 .elementor-element.elementor-element-d3c4b12{width:42%;}}@media(max-width:1024px){.elementor-2232 .elementor-element.elementor-element-7f86bef7 > .elementor-container{min-height:100vh;}.elementor-2232 .elementor-element.elementor-element-7f86bef7{padding:0px 0px 0px 0px;}.elementor-2232 .elementor-element.elementor-element-391b1366:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-2232 .elementor-element.elementor-element-391b1366 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-size:cover;}.elementor-2232 .elementor-element.elementor-element-391b1366 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .swiper-slide{height:65vh;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .elementor-slide-heading{font-size:18px;}.elementor-2232 .elementor-element.elementor-element-7c851b9 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-2232 .elementor-element.elementor-element-3969f6ad > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-2232 .elementor-element.elementor-element-f9ed385 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}#elementor-popup-modal-2232 .dialog-widget-content{background-position:-102px 73px;}}@media(max-width:767px){.elementor-2232 .elementor-element.elementor-element-391b1366{width:100%;}.elementor-2232 .elementor-element.elementor-element-391b1366 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:100px 0px 130px 0px;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .swiper-slide{height:55vh;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .swiper-slide-contents{max-width:100%;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .elementor-slide-heading{font-size:20px;line-height:30px;}.elementor-2232 .elementor-element.elementor-element-7c851b9 .elementor-slide-description{font-size:14px;line-height:21px;}.elementor-2232 .elementor-element.elementor-element-7c851b9 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-2232 .elementor-element.elementor-element-4649db0{padding:5px 0px 0px 0px;}.elementor-2232 .elementor-element.elementor-element-f9ed385 > .elementor-element-populated{padding:20px 20px 0px 20px;}.elementor-2232 .elementor-element.elementor-element-8539ce2{text-align:left;}.elementor-2232 .elementor-element.elementor-element-8539ce2 .elementor-heading-title{font-size:18px;}.elementor-2232 .elementor-element.elementor-element-d3c4b12{width:100%;}.elementor-2232 .elementor-element.elementor-element-d3c4b12 > .elementor-element-populated{padding:30px 20px 15px 20px;}.elementor-2232 .elementor-element.elementor-element-c5e1a59{text-align:left;}.elementor-2232 .elementor-element.elementor-element-c5e1a59 > .elementor-widget-container{margin:0px 0px -10px 0px;padding:15px 0px 0px 0px;}.elementor-2232 .elementor-element.elementor-element-04dd697{width:100%;}.elementor-2232 .elementor-element.elementor-element-04dd697 > .elementor-element-populated{padding:10px 20px 0px 20px;}.elementor-2232 .elementor-element.elementor-element-5f972ce > .elementor-widget-container{margin:-5px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-2232 .elementor-element.elementor-element-7a4b159 .elementor-divider-separator{width:100%;}.elementor-2232 .elementor-element.elementor-element-7a4b159 .elementor-divider{padding-top:10px;padding-bottom:10px;}.elementor-2232 .elementor-element.elementor-element-892b522{padding:30px 10px 0px 10px;}#elementor-popup-modal-2232 .dialog-widget-content{background-position:-151px -47px;background-size:cover;}}/* Start custom CSS for slides, class: .elementor-element-7c851b9 */.signup_left_swipe .swiper-slide-inner {
    text-align: left !important;
    padding: 20px !important;
}
.signup_left_swipe .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    padding-left: 15px;
    text-align: left;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-5f972ce */@media only screen and (max-width: 425px){
.sign_up_btn a.elementor-button-link.elementor-button.elementor-size-sm {
    padding: 5px 25px;
}
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-f9c0a05 */.close_popup {
    cursor: pointer;
    float: right;
    width: fit-content !important;
    right: 0px;
    position: absolute;
    top: 25px;
}
.close_popup i.fas.fa-times {
    font-size: 22px;
}
#elementor-popup-modal-2232 .dialog-close-button, #elementor-popup-modal-2287 .dialog-close-button {
    display: none;
}
@media only screen and (max-width: 767px){
    .close_popup {
        right: 20px !important;
        top: -120px !important;
    }
    .close_popup i.fas.fa-times {
        font-size: 14px;
    }
}
@media only screen and (max-width: 1024px){
    .close_popup {
        right: -30px;
        top: 18px;
    }
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-570a91f */.form_popup_class .wpforms-field-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.form_popup_class .wpforms-field {
    flex: 0 50%;
}
#popup_section 
div.wpforms-container-full 
.wpforms-form input.wpforms-field-medium,
 div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
 div.wpforms-container-full .wpforms-form 
.wpforms-field-row.wpforms-field-medium{
max-width:96%;
}
.form_popup_class label.wpforms-field-label {
    font-family: "Poppins SemiBold", Sans-serif;
    color: #212121;
}
#popup_section div.wpforms-container-full .wpforms-form .wpforms-field-label{
padding-bottom:5px;
}

.form_popup_class input#wpforms-8928-field_0 ,input#wpforms-8928-field_3 , input#wpforms-8928-field_1 , input#wpforms-8928-field_4 , select#wpforms-8928-field_5{
        background-color: #ffffff;
    border-color: #E3E3E3;
    border-radius: 0px 0px 0px 0px;
    color: #212121;
}
.form_popup_class select#wpforms-8928-field_5 {
    max-width: 96%;
}
.form_popup_class button#wpforms-submit-8928 {
    width: 155px;
    background: #6ABF17;
    color: #ffffff;
    height: 50px;
    margin-top: 21px;
    font-size: 15px;
}
.form_popup_class button#wpforms-submit-8928::after {
    content: '';
    background: url(../../2021/04/btn_arrow.png);
    background-position: center;
    background-repeat: no-repeat!important;
    width: 55px;
    height: 50px;
    background-size: 30px 13px;
    position: absolute;
    left: 149px;
    background-color: #549812;
    top: 31px;
    
}
.form_popup_class button#wpforms-submit-8928 {
    border-radius: 0px;
    display: block;
    background: linear-gradient(to right, #549812 50%, #6abf17 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    border: 0;
}
.form_popup_class button#wpforms-submit-8928:hover {
background-position: left bottom;
}

@media only screen and (max-width: 768px) {
    .form_popup_class .wpforms-field-container {
        display: block;
    }
}

@media only screen and (max-width: 767px) {    
    #popup_section div.wpforms-container-full .wpforms-form input.wpforms-field-medium, div.wpforms-container-full .wpforms-form select.wpforms-field-medium, div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium, .form_popup_class select#wpforms-8928-field_5{
        max-width: 100%;    
    }    
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Poppins Regular';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2021/04/Poppins-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Poppins SemiBold';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2021/04/Poppins-SemiBold.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Poppins Bold';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2021/04/Poppins-Bold.ttf') format('truetype');
}
/* End Custom Fonts CSS */